.projects {
    overflow-x: hidden;
    .project__title {
        margin-bottom: 90px;
    }
    .first-project__info {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 170px;
        display: flex;
    }
    .first-img {
        position: relative;
        .blue-square {
            position: absolute;
            width: 630px;
            height: 470px;
            background-color: $blue;
            left: -260px;
            top: -58px;
            z-index: -1;
        }
        img {
            margin-bottom: 0;
            margin-right: 30px;
            width: 630px;
            height: 470px;
        }
    }
    .first-info {
        max-width: 476px;
        .first-title {
            font-size: 44px;
        }
    }
    .second-project__info {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 150px;
        display: flex;
        position: relative;
    }
    .second-img {
        position: relative;
        .purpil-square {
            position: absolute;
            width: 630px;
            height: 470px;
            background-color: $purpil;
            left: 260px;
            top: -58px;
            z-index: -1;
        }
        img {
            margin-bottom: 0;
            margin-left: 30px;
            width: 630px;
            height: 470px;
        }
    }
    .second-info {
        max-width: 476px;
        .first-title {
            font-size: 44px;
        }
    }
}