.projects {
    .container {
        padding: 20px 15px 30px;
    }
    .project__title {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 44px;
        margin-bottom: 50px;
        color: $black;
        position: relative;
    }
    .project__title::before {
        content: "";
        width: 100px;
        height: 1px;
        background-color: $black;
        position: absolute;
        align-items: center;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .first-project__info {
        margin-bottom: 50px;
        img {
            max-width: 630px;
            width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        .first-subtitle {
            font-weight: 400;
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
            color: $black;
        }
        .first-title {
            font-weight: 700;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            color: $black;
            margin-bottom: 30px;
        }
        p {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #2C4058;
            margin-bottom: 40px;
        }
        .first-project__button {
            width: 100%;
            height: 50px;
            background: $white;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 60px;
        }
        .first-project__button:hover {
            background-color: #26c5f6;
            color: $white;
            border: none;
        }
        .street {
            .address-icon {
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                letter-spacing: 0.3em;
                color: $black;
            }
            .address {
                font-family: 'Open Sans', sans-serif;
                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    .second-project__info {
        margin-bottom: 50px;
        img {
            max-width: 630px;
            width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        .first-subtitle {
            font-weight: 400;
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
            color: $black;
        }
        .first-title {
            font-weight: 700;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            color: $black;
            margin-bottom: 30px;
        }
        p {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #2C4058;
            margin-bottom: 40px;
        }
        .first-project__button {
            width: 100%;
            height: 50px;
            background: $white;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 60px;
        }
        .first-project__button:hover {
            background-color: #26c5f6;
            color: $white;
            border: none;
        }
        .street {
            .address-icon {
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                letter-spacing: 0.3em;
                color: $black;
            }
            .address {
                font-family: 'Open Sans', sans-serif;
                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}